@import url("https://use.typekit.net/nao5hsv.css");

:root {
  --section-red: #d94e4e;
  --text: #591e23;
  --darker-red: #b94c4c;
  --t-white: #ffff;
  --red-opacity: #e26c6c;
  --links: #fdb8b8;
  --white-space: 29rem;
  --main-font: proxima-nova, sans-serif;
  --font-weight: 800;
  --gap: 1rem;
  --gap-header: 3rem;
  --padding: 2rem;
  --font-size-big: 6rem;
  --greyed-out: rgb(187, 184, 184);
  --header2: 1.5rem;
}

* {
  box-sizing: border-box;

  text-decoration: none;
  font-family: var(--main-font);
}
button {
  cursor: pointer;
}
body {
  background-color: var(--section-red);
  margin: 0;
}

main {
  padding-top: var(--padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
header {
  color: var(--t-white);
}

/* setting colors and sections*/
.red_space {
  background-color: var(--section-red);
  color: var(--t-white);
}

.text_space_content,
header {
  margin-left: var(--white-space);
  margin-right: var(--white-space);
}
.red_space_content {
  margin-left: 32rem;
  margin-right: 32rem;
}

.text_space {
  background-color: var(--t-white);
}

footer {
  background-color: var(--t-white);
}

hr {
  background-color: var(--t-white);
  border-style: none;
  height: 2px;
}

/* nav bar */
nav h1 {
  font-size: 1.2rem;
}
header nav ul {
  list-style-type: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-header);
  padding: 0;
  background-color: var(--section-red);
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: var(--gap);
  padding: 0;
}

header nav ul li {
  background-color: var(--red-opacity);
  padding: 0.5rem;
  border-radius: 5px;
}

.dark_hr {
  background-color: var(--darker-red);
  opacity: 60%;
}

nav h1 span {
  letter-spacing: 0.7rem;

  background-color: var(--t-white);
  border-radius: 50%;
  line-height: var(--gap);
  font-size: var(--gap);
  color: var(--section-red);
  text-align: center;
}

/* timer */
.timer {
  background-color: var(--red-opacity);

  display: flex;
  flex-direction: column;
  padding: var(--gap);
  gap: var(--gap);
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
}
.pomodoro_type {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  padding: 0.5rem;
}
.active {
  background-color: var(--darker-red);
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  border-radius: 5px;
}

.time_left {
  font-size: var(--font-size-big);
  padding: 0;
  margin: 0;
}

.button_start {
  padding: var(--gap);
  padding-left: var(--gap-header);
  padding-right: var(--gap-header);
  border: none;
  border-radius: 3px;
  font-size: 1.3rem;
  color: var(--section-red);
  font-weight: var(--font-weight);
}
.button_start:hover {
  color: var(--t-white);
  background-color: var(--section-red);
  border: 2px solid var(--t-white);
}

/* tasks*/
.long_hr {
  opacity: 60%;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
.details p {
  padding-top: 0;
  margin: 0;
}
.details p:first-child {
  color: var(--links);
}

.task_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.task_header > button {
  width: 20px;
  height: 20px;
  color: var(--t-white);
  background-color: var(--red-opacity);
  border: none;
  border-radius: 3px;
}
.task_header > h2 {
  margin: 0;
  font-size: 1.1rem;
}
.task_1,
.task_2 {
  background-color: var(--t-white);
  border-radius: 3px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight);
}

.start,
.end {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
  padding-right: var(--gap);
  padding-left: var(--gap);
}

.check {
  background-color: var(--red-opacity);
  border-radius: 50%;
  line-height: var(--gap);
  width: var(--gap);
  height: var(--gap);
  text-align: center;
  font-size: 0.7rem;
  color: var(--t-white);
}
.check_grey {
  background-color: rgb(223, 221, 221);
}
.task_2 .start p {
  text-decoration: line-through;
  color: var(--greyed-out);
}

.end p {
  color: var(--greyed-out);
}
.end button {
  width: 20px;
  height: 20px;
  color: var(--greyed-out);
  background-color: var(--t-white);
  border: 1px solid var(--greyed-out);
  border-radius: 3px;
  text-align: center;
  font-weight: var(--font-weight);
}

.task_1 {
  border-left: 5px solid black;
}
.task_add {
  text-align: center;
  background-color: var(--darker-red);
  padding: var(--gap);
  border-radius: 3px;
  border: 2px dashed var(--links);
  color: var(--t-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.task_add p {
  margin: 0;
}
.task_add:hover {
  transform: scale(1.05);
}
.task_add div {
  background-color: var(--t-white);
  border-radius: 50%;
  line-height: var(--gap);
  width: var(--gap);
  height: var(--gap);
  text-align: center;
  font-size: var(--gap);
  color: var(--red-opacity);
  font-weight: var(--font-weight);
}

.estimate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: var(--gap);
  gap: var(--gap);

  align-items: center;
  border-top: 1px solid var(--t-white);
  background-color: var(--red-opacity);
  margin-bottom: var(--padding);
}

.estimate span {
  font-size: 1.3rem;
}

/* text content style*/
.text_space_content h1 {
  font-size: var(--padding);
  color: var(--text);
}
.text_space_content h2 {
  font-size: var(--header2);
  color: var(--text);
  margin-bottom: 0;
}
.short_hr {
  width: 20px;
  height: 3px;
  margin-left: 0;
  background-color: var(--links);
}
.text_space_content p,
.text_space_content li {
  color: var(--text);
  opacity: 70%;
  font-size: var(--gap);
}
.text_space_content li {
  padding: 0.3rem;
}
/* footer styling*/
.hr_footer {
  background-color: var(--greyed-out);
  opacity: 20%;
  width: 90%;
}
footer {
  color: var(--text);
  padding-bottom: var(--padding);
  padding-top: var(--gap);
}
.footer_nav {
  display: block;
  background-color: var(--t-white);
}
.footer_nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  gap: var(--gap);
}
.social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}
.message,
.copyright {
  text-align: center;
  padding-top: var(--gap);
}
.copyright {
  font-size: 0.8rem;
}
/* link styles*/
a:link {
  color: var(--links);
}

a:visited {
  color: var(--links);
}
a:hover {
  color: var(--red-opacity);
}
a:active {
  color: var(--darker-red);
}
/* responsive styling*/
@media only screen and (max-width: 1350px) {
  .text_space_content,
  header {
    margin-left: 25rem;
    margin-right: 25rem;
  }
  .red_space_content {
    margin-left: 27rem;
    margin-right: 27rem;
  }
}
@media only screen and (max-width: 1260px) {
  .text_space_content,
  header {
    margin-left: 20rem;
    margin-right: 20rem;
  }
  .red_space_content {
    margin-left: 23rem;
    margin-right: 23rem;
  }
}
@media only screen and (max-width: 1070px) {
  .text_space_content,
  header {
    margin-left: 13rem;
    margin-right: 13rem;
  }
  .red_space_content {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}
@media only screen and (max-width: 814px) {
  .text_space_content,
  header {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .red_space_content {
    margin-left: 7rem;
    margin-right: 7rem;
  }
}
@media only screen and (max-width: 560px) {
  .text_space_content,
  header {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .red_space_content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 428px) {
  nav {
    flex-direction: column;
    gap: 0;
  }
}
@media only screen and (max-width: 366px) {
  .pomodoro_type {
    flex-direction: column;
  }
}
